@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-fg: "Founders Grotesk", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Founders Grotesk";
    src: url("/fonts/founders-grotesk-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Founders Grotesk";
    src: url("/fonts/founders-grotesk-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Founders Grotesk";
    src: url("/fonts/founders-grotesk-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Founders Grotesk";
    src: url("/fonts/founders-grotesk-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Founders Grotesk";
    src: url("/fonts/founders-grotesk-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
}

@include media-md {
  body {
    background: url("/images/bg.png"), url("/images/bg.png"),
      linear-gradient(
        180deg,
        var(--theme-background-color) 0%,
        var(--theme-background-color) 100%
      );
    background-size:
      1000px 1500px,
      1000px 1500px,
      cover;
    background-position:
      70vw 10vh,
      -30vw 70vh,
      center;
    background-repeat: no-repeat, no-repeat, no-repeat;
  }
}

a:hover,
.link:hover {
  text-decoration: underline;
  @apply text-primary dark:text-primary-dark;
}
