@import "@/styles/brand";

.footer {
  border-top: 1px solid $c-black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  color: var(--theme-foreground-color);

  strong {
    color: var(--theme-footer-color);
  }

  &__element {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    gap: 2 * $theme-unit;

    .theme {
      color: var(--theme-footer-color);
      align-items: center;
      justify-content: end;
    }
  }

  &__mento {
    color: var(--theme-footer-color);
  }
}

.learn_more {
  background-color: #121316;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3 * $theme-unit;
  padding: 0 5 * $theme-unit 0 5 * $theme-unit;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    padding: 0 11 * $theme-unit 0 13 * $theme-unit;
  }

  &__icon {
    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .content {
    color: $c-white;
    max-width: 500px;

    h2 {
      font-size: 11 * $theme-unit;
      margin-bottom: 5 * $theme-unit;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        text-align: left;
      }
    }

    .description {
      font-size: 3 * $theme-unit;
      line-height: 5 * $theme-unit;
      text-align: center;

      @media (min-width: $breakpoint-lg) {
        text-align: left;
      }
    }

    .button {
      width: 100%;

      @media (min-width: $breakpoint-lg) {
        width: fit-content;
      }

      &__content {
        display: flex;
        align-items: center;
        gap: 2 * $theme-unit;
        padding: 0 3 * $theme-unit;
      }
    }
  }
}
